body {
  background-color: rgb(189, 188, 188);
  height: 100%;
  width: 100%;
  padding: 5%;
}

.user_cards {
  display: grid; /* me permet de CENTRER tous mes elements dans la Div*/
  justify-items: center;
  background-color: brown;
  height: 100%;
  width: 100%;
  border-radius: 15%;
  padding: 10%;
  margin: 1%;
}
